
@{
    ViewData["Title"] = "Index";
}
<script src="lib/jquery/dist/jquery.min.js"></script>
<h1>执行任务</h1>
<a id="startask" href="/Home/MyTask">开始执行</a>
<p id="bar"></p>

<script>
    //$("#startask").click(function () {
    //    var count = 0;
    //    while (true) {
    //        if (count < 6) {
    //            var str = "";
    //            for (var i = 0; i < count; i++) {
    //                str += "#";
    //            }
    //            $("#bar").text(str);
    //        } else {
    //            $("#bar").empty();
    //            count = 0;
    //        }
    //    }
    //});
</script>
